# Environment files
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/

# Laravel
vendor/
backend/storage/*.key
backend/public/storage

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
